body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    height: 90px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    background: #FAFAFA;
    border-radius: 5px;
    padding: 25px 20px;
}

.photograph-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.photograph-info__h1 {
    font-size: 64px;
    line-height: 83.33px;
    color: #D3573C;
    margin: 0;
}

.photograph-info__location,
.photograph-info__tagline {
    margin: 0;
}
.photograph-info__location {
    color:#901C1C;
    line-height: 31.25px;
}
.photograph-info__tagline {
    font-size: 18px;
    line-height: 23.44px;
    color:#525252;
}

.photograph-info__portrait {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contact_button {
    font-size: 20px;
    line-height: 26.04px;
    font-weight: bold;
    color: white;
    width: 170px;
    height: 69px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.media_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 50px 100px;
}

.media_section article {
    display: flex;
    flex-direction: column;
}

.media-link {
    text-decoration: none;
    color: inherit;
    width: 350px;
    height: 300px;
}

.media-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.media-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 350px;
}

.media-info h3,
.media-info p {
    margin: 0;
    font-size: 24px;
    color: #901C1C;

}

.media-info p {
    font-weight: 500;
}

.price-box {
    position: fixed;
    bottom: 0px;
    right: 10%;
    background-color: #DB8876;
    padding: 15px 20px;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
}

.price-text {
    font-size: 24px;
    line-height: 31.25px;
    font-weight: 500;
    margin: 0;
}

.no-scroll {
    overflow: hidden;
}

#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.modal {
    background-color: #DB8876;
    border-radius: 5px;
    padding: 15px 35px;
    max-width: 699px;
    height: 900px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

.modal header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.modal header h2 {
    /* font-size: 64px; */
    font-size: 35px;
    font-weight: 400;
    margin: 0;
}

.close_button {
    background: none;
    border: none;
    cursor: pointer;
}

.close_button img {
    width: 42;
    height: 42px;
}

form {
    display: flex;
    flex-direction: column;
    /* margin-top: 100px; */
    margin-top: 30px;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

form label {
    /* font-size: 36px; */
    /* line-height: 46.87px; */
    font-size: 26px;
    margin-bottom: 5px;
    font-weight: 400;
}

form input {
    height: 68px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

form textarea {
    resize: vertical;
    height: 170px;
}

form .contact_button {
    font-size: 18px;
    line-height: 23.44px;
    margin-top: 20px;
}

#lightbox_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
}
  
.lightbox {
    position: relative;
    margin: auto;
    top: 50px;
    max-width: 80%;
    color: #ffffff;
}
  
.lightbox__close,
.lightbox__prev,
.lightbox__next {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
  
.lightbox__close {
    top: -20px;
    right: -20px;
    transform: none;
    color: #901C1C;
}
  
.lightbox__prev {
    left: -60px;
}
  
.lightbox__next {
    right: -60px;
}

.lightbox__content {
    text-align: center;
}

.lightbox__content img,
.lightbox__content video {
    max-width: 100%;
    max-height: 85vh;
}

.lightbox__content h2 {
    margin-top: 10px;
    font-size: 24px;
    color: #901C1C;
    line-height: 31.25px;
    text-align: left;
}
  
.like-container {
    display: flex;
    align-items: center;
}

.likes-count {
    margin-right: 5px;
    font-size: 16px;
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #901C1C;
    font-size: 18px;
}

.like-button:focus {
    outline: none;
}

.price-box {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #FFFFFF;
    padding: 20px;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
}

.likes-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.likes-container i {
    margin-left: 5px;
    color: #000000;
}

.price-text {
    font-size: 24px;
    margin: 0;
}
.like-button.liked {
    color: #D3573C;
}  